CI_ENVIRONMENT = development

app_baseURL = https://api.example.com/

JWT_ISSUER = api.example.com
JWT_SECRET = REPLACE_ME_WITH_A_SECURE_RANDOM_SECRET

CRON_API_KEY = REPLACE_ME_WITH_A_SECURE_RANDOM_API_KEY

database.default.hostname = localhost
database.default.database = your_database_name
database.default.username = your_database_user
database.default.password = your_database_password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
